*
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
h2
{
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-size: 50px;
  background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet,violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}
body
{
  align-items: center;
  position: center;
}
.game
{
    width:500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#character
{
    width:20px;
    height: 50px;
    background-color: #eda342;
    position: relative;
    top:150px;
}
/*200-50-20=130*/
#block
{
    width: 20px;
    height: 20px;
    background-color: #4fade0;
    position: relative;
    left: 480px;
    top:130px;
    animation: block 1s infinite linear;

}

/* perecentage denotes time to jump*/
@keyframes block
{
    0% {left:480px;}
    100% {left: -40px;}
}

@keyframes jump
{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px;}
}
.animate
{
    animation: jump 500ms linear;
}
