body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.bottom-container {
  padding-top: 5px;
  padding-bottom: 5px;
}
p {
  font-family: 'Press Start 1P', cursive;
  color:#FEF2BF;
}
a:hover {
  color: #FEF2BF;
}
a {
  color: #DBEDF3;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.contact {
  text-decoration: dotted;
  text-decoration: solid;
  text-shadow: #FEF2BF;
  align-items: center;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}