<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TrueCV</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/select2/select2.min.css">
  <link rel="stylesheet" href="vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 fixed-top d-flex flex-row" style="background: white;">

      <h3 class="font-weight-bold" style="padding-left: 2em;color:#4B49AC;">True CV</h3>
      <br><br>
    </nav>
    <div class="container page-body-wrapper justify-content-md-center">
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">User Profile</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1">User ID</label>
                      <input type="text" class="form-control" name="user_id" placeholder="User ID">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email address</label>
                      <input type="email" class="form-control" name="user_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputPassword4">First Name</label>
                      <input type="text" class="form-control" name="fname" placeholder="FirstName">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Last Name</label>
                      <input type="text" class="form-control" name="lname" placeholder="FirstName">
                    </div>

                    <div class="form-group">
                      <label>Gender</label>
                      <select name="gender" class="js-example-basic-single w-100">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                      </select>
                    </div>


                    <div class="form-group">
                      <label for="exampleInputPassword4">Phone Number</label>
                      <input type="tel" class="form-control" name="phone_no" placeholder="Phone Number">
                    </div>
                    <br>
                    <!-- education_details -->
                    <h4 class="card-title">Education Details</h4>
                    <div class="form1">
                      <div class="form-group">
                        <label for="exampleInputName1">Education Level</label>
                        <input type="text" class="form-control" name="educational_level" placeholder="Education Level">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Major</label>
                        <input type="text" class="form-control" name="major" placeholder="Major">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Name of the Institute</label>
                        <input type="text" class="form-control" name="institute_name"
                          placeholder="Name of the Institute">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Start Date</label>
                        <input type="date" class="form-control" name="created_date" placeholder="">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword4">Completion Date</label>
                        <input type="date" class="form-control" name="end_date" placeholder="">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Percentage</label>
                        <input type="text" class="form-control" name="percentage" placeholder="Percentage">
                      </div>
                    </div>
                    <div class="add_education">
                      <button type="submit" class="btn btn-primary mr-2">Add Education</button>
                    </div>
                    <!-- experience_details -->
                    <br><br>
                    <h4 class="card-title">Experience Details</h4>
                    <div class="form2">
                      <div class="form-group">
                        <label for="exampleInputEmail3">Job Title</label>
                        <input type="text" class="form-control" name="job_title" placeholder="job_title">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Name of the Company</label>
                        <input type="text" class="form-control" name="company_name" placeholder="Name of the Company">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Start Date</label>
                        <input type="date" class="form-control" name="created_date_e" placeholder="">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword4">End Date</label>
                        <input type="date" class="form-control" name="end_date_e" placeholder="">
                      </div>

                      <div class="form-group">
                        <label for="exampleTextarea1">Job Description</label>
                        <textarea class="form-control" name="job_description" rows="4"></textarea>
                      </div>


                    </div>
                    <button id="add_exp" type="submit" class="btn btn-primary mr-2">Add Experience</button><br><br>
                    <div class="form-group">
                      <label>Skills</label>
                      <select class="js-example-basic-multiple w-100" id="skillids" name='mulselect'
                        multiple="multiple">
                        <option value="<%= skills[0] %>" selected>
                          <%= skills[0] %>
                        </option>
                        <% for(var i=1; i < skills.length; i++) { %>

                          <option value="<%= skills[i] %>">
                            <%= skills[i] %>
                          </option>

                          <% } %>

                      </select>
                    </div>
                    <br><br>
                    <input type="submit" class="btn btn-primary mr-2"></input>
                    <button class="btn btn-light">Cancel</button>
                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script> -->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/file-upload.js"></script>
  <script src="js/typeahead.js"></script>
  <script src="js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var max_fields = 10;
    var wrapper = $(".form1");
    var add_button = $(".add_education");

    var x = 1;
    var y = 1;

    $(add_button).click(function (e) {
      e.preventDefault();
      if (x < max_fields) {
        x++;
        y++;
        $(wrapper).append(`
            <div class="E${y}">
                <br> <hr> <br>

                  <div class="form-group">
                    <label for="exampleInputName1">Education Level</label>
                    <input type="text" class="form-control" name="educational_level${y}" placeholder="Education Level">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Major</label>
                    <input type="text" class="form-control" name="major${y}" placeholder="Major">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Name of the Institute</label>
                    <input type="text" class="form-control" name="institute_name${y}" placeholder="Name of the Institute">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail3">Start Date</label>
                    <input type="date" class="form-control" name="created_date${y}" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword4">Completion Date</label>
                    <input type="date" class="form-control" name="end_date${y}" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail3">Percentage</label>
                    <input type="text" class="form-control" name="percentage${y}" placeholder="Percentage">
                </div>

                <button id = "delete_education" class="btn btn-light">Delete</button> <br> <br>
                </div>`); //add input box
      } else {
        alert('You Reached the limits')
      }
    });

    $(wrapper).on("click", "#delete_education", function (e) {
      e.preventDefault();
      $(this).closest('div').remove();
      // $(this).parent('div').remove();
      x--;
    })
  });
</script>

<!-- Expirence Details  -->

<script type="text/javascript">
  $(document).ready(function () {
    var max_fields = 10;
    var wrapper = $(".form2");
    var add_button = $("#add_exp");

    var x = 1;
    var y = 1;
    $(add_button).click(function (e) {
      e.preventDefault();
      if (x < max_fields) {
        x++;
        y++;
        $(wrapper).append(`
            <div class="E${y}">
                <br> <hr> <br>

                  <div class="form-group">
                    <label for="exampleInputEmail3">Job Title</label>
                    <input type="text" class="form-control" name="job_title${y}" placeholder="job_title">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Name of the Company</label>
                    <input type="text" class="form-control" name="company_name${y}" placeholder="Name of the Company">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail3">Start Date</label>
                    <input type="date" class="form-control" name="created_date_e${y}" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword4">End Date</label>
                    <input type="date" class="form-control" name="end_date_e${y}" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="exampleTextarea1">Job Description</label>
                    <textarea class="form-control" name="job_description${y}" rows="4"></textarea>
                  </div>
                  <button id = "delete_exp" class="btn btn-light">Delete</button> <br> <br>

                </div>`); //add input box
      } else {
        alert('You Reached the limits')
      }
    });

    $(wrapper).on("click", "#delete_exp", function (e) {
      e.preventDefault();
      $(this).closest('div').remove();
      // $(this).parent('div').remove();
      x--;
    })


    $('form').on('submit', function (e) {
      e.preventDefault()

      console.log($(this).serialize());

      $.ajax({
        url: '/userFormSubmit',
        type: 'post',
        data: $(this).serialize()
      }).done(response => {
        console.log()

      });
    })
  });
</script>