* {
    padding: 0;
    margin: 0;

}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #34568B;


}

.waviy {
    position: relative;


}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}


nav a {
    text-decoration: none;
    padding: 8px;
    text-transform: capitalize;
    color: white;


}

nav a:hover {
    border: 2px solid white;
    background: black;

}

button a {
    font-size: larger;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;

}

img {
    padding-top: 4px;
    height: 17px;
    width: 15px;
}


h1 {

    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    background: #B565A7;
}