* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #34568B;


}

.waviy {
    position: relative;


}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}


nav a {
    text-decoration: none;
    padding: 8px;
    text-transform: capitalize;
    color: white;


}

nav a:hover {
    border: 2px solid white;
    background: black;

}


.content {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('BG2\ FOR\ OASIS.jpeg');
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;


}

.message {

    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button a {
    font-size: larger;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;

}

img {
    padding-top: 4px;
    height: 17px;
    width: 15px;
}




.words {
    color: #f4d03f;
    font-size: 0;
    line-height: 1.5;
}

.words span {
    font-size: 3.5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-30%, 0);
    }

    50% {
        text-shadow: 0 25px 50px rgba(0, 0, 0, 0.70);
    }

    100% {
        transform: translate(30%, 0);
    }
}

.words span:nth-child(2) {
    animation-delay: 0.5s;
}

.words span:nth-child(3) {
    animation-delay: 1s;
}

.words span:nth-child(4) {
    animation-delay: 1.5s;
}

.words span:nth-child(5) {
    animation-delay: 2s;
}

.words span:nth-child(6) {
    animation-delay: 2.5s;
}

.words span:nth-child(7) {
    animation-delay: 3s;
}

.words span:nth-child(8) {
    animation-delay: 3.5s;
}

.words span:nth-child(9) {
    animation-delay: 4s;
}

.words span:nth-child(10) {
    animation-delay: 4.5s;
}