@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite ;
    font-family : 'Ubuntu','sans-serif';
}
* {
    margin: 0;
    padding: 0;
}
nav{
font-family: 'Ubuntu','sans-serif'; 

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 7px;
}
.brand{
    display: flex;
    align-items: center ;
    font-weight: bolder;
    font-size: 1.3rem ;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
/* font-family: 'Ubuntu','sans-serif'; */ 

}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;

}

#myProgressBar{
    margin-top: 10px;
    width: 80vw;
    cursor: pointer;
    
}
.icons{
    margin: 10px 0;
}
.icons i{
    cursor: pointer;
    padding: 5px;
}
.songItemContainer{
    margin-top: 40px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 400px;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    
}
.songItem img{
    width: 43px;
    margin: 0 32px ;
    border-radius: 20px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
   position: absolute;
   left: 10vw;
}
.songInfo   img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
 
