absl-py==1.2.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
brotlipy==0.7.0
cachetools==5.2.0
certifi 
cffi 
charset-normalizer 
colorama 
contourpy==1.0.5
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
flatbuffers==22.9.24
fonttools==4.37.4
gast==0.4.0
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.49.1
h5py==3.7.0
idna 
ipykernel
ipython 
ipython-genutils
jedi
Jinja2
joblib==1.2.0
json5 
jsonschema
jupyter-core
jupyter-server
jupyter_client
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
lxml==4.9.1
Markdown==3.4.1
MarkupSafe
matplotlib==3.6.0
matplotlib-inline
mistune
nbclassic
nbclient 
nbconvert 
nbformat 
nest-asyncio
notebook 
numpy==1.23.3
oauthlib==3.2.1
opt-einsum==3.3.0
packaging 
pandas==1.5.0
pandocfilters
parso 
pickleshare 
Pillow==9.2.0
prometheus-client 
prompt-toolkit 
protobuf==3.19.6
psutil 
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
pytz 
pywin32==302
pywinpty 
pyzmq 
requests 
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.1
Send2Trash 
six 
sklearn==0.0
sniffio 
soupsieve 
stack-data 
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
terminado 
testpath 
threadpoolctl==3.1.0
tornado 
traitlets 
typing_extensions 
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug==2.2.2
win-inet-pton 
wincertstore==0.2
wrapt==1.14.1
