{% extends "base.html" %}

{% block title %}
Sign Up : Notice Board
{% endblock %}

{% block content %}

<form method="POST">
    <br>
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Addres</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your First Name">
    </div>
    
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="text" class="form-control" id="password1" name="password1" placeholder="Password Here!">
    </div>
    
    <div class="form-group">
        <label for="password2">Re-Enter Your Password</label>
        <input type="text" class="form-control" id="password2" name="password2" placeholder="Password Again!">
    </div>

    <br>
    <button class="btn btn-primary">Submit</button>

</form>

{% endblock %}
