* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: white;
}
h2{
    font-size: 84px;
    font-weight: 550;
    transform: scale(0.9,1.2);
}
h4{
    font-size: 42px;
    margin-top: 22px;
}
p{
    margin: 0px;
    font-size: 20px;
}

main {
    width: 100%;
    height: 100vh;
    background: #022d50;
    background-image: linear-gradient(0deg,#13588b,#13588b 25%,#073863 65%,#022d50 90%,#022d50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.row {
    display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    margin-left: 0px;
    font-size: 40px;
    display: inline-block;
}

#search {
    background-color: #1b567d;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px #092136;
}

.weatherAbout{
    width: 50%;
    text-align: center;
}
.image-div{
    width: 100%;
    position: relative;
    margin-top: 50px;
}
.backimage{
    border-radius: 7px;
    box-shadow: 2px 2px 8px #092136;
    max-width: 100%;
    max-height: 100%;
    
}
.in-img-text{
    position: absolute;
    top: 38%;
    left: 25px;
}
.in-img-icon{
    position: absolute;
    right: 10px;
    top: 27%;
}
.icon{
    width: 10rem;
}
.time{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
    background: rgb(2,45,80);
    background: linear-gradient(90deg, rgba(2,45,80,1) 11%, rgba(7,16,27,1) 82%);
}