.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2c0d34;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', 'cursive'fantasy;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #acf1fa;
}

p {
  font-size: 2rem;
  color: #acf1fa;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
