.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-image: linear-gradient(
        rgb(61, 61, 61) 0%,
        rgb(83, 219, 165) 50%,
        rgb(83, 219, 165) 51%,

        rgb(61, 61, 61) 100%
    );
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4a008b;
}

p {
    font-size: 2rem;
    color: #9508c0;
    font-family: "Indie Flower", cursive;
}

img {
    position: relative;
    top: 100px;
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #eeeeee;
    text-align: center;
    font-family: "Indie Flower", cursive;
}

